.MuiToolbar-root {
    background-color: black;
}

.MuiBottomNavigation-root {
    background-color: black;
}


.makeStyles-root-121 {
    align-content: "center"
}

.MuiTypography-root {
    align-content: "center" ;
}